<!DOCTYPE html>
<html>

	<include file="Common:header" />

	<body>
		<!--头部-->
		<div class="head">
			<h3>北京盛达龙源不锈钢水箱有限公司</h3>
			<a class="top_nav top_menu"></a>
		</div>
		<include file="Common:menu" />

		<!--顶部栏-->
		<div class="top_bar">
			<a class="bar_l"></a>
			<h3>产品详情</h3>
		</div>
		<div class="content">

			<ul class="product_nav" style="margin-bottom: 0;">
				<li class="tab">
					<a href="{:U('index')}">全部</a>
				</li>
				<foreach name="category" item="vo" key="k">
					<li>
					<a href="{:U('index?id='.$vo['type_id'])}">{$vo.type_name}</a>
					</li>
				</foreach>
			</ul>
			
			<!--产品详情-->
			<div class="pro_detail" style="padding: 1rem 0 7rem;">
				<notempty name="detail">
					<h3 class="pro_de_tit">{$detail.product_name}</h3>
					<img src="{$detail.picurl1}" />
					<notempty name="content">
						<foreach name="content" item="vo" key="k">
							<if condition="($vo eq '')">
								<elseif condition="($k eq 0) OR ($k eq count($content)- 2)"/>
								<p>{$vo}</p>
								<else />
								<if condition="($vo eq '产品特点')">
									<h3 class="pro_h3">{$vo}</h3>
								<else />
									<span>{$vo}</span>
								</if>
							</if>
						</foreach>
					</notempty>
				</notempty>
			</div>

		</div>

		<div class="index_bot">
			<a><img src="__PUBLIC__/style/images/icon-3.png"><span>在线QQ</span></a>
			<i class="line_throw"></i>
			<a><img src="__PUBLIC__/style/images/icon-4.png"><span>在线电话</span></a>
			<i class="line_throw"></i>
			<a><img src="__PUBLIC__/style/images/icon-5.png"><span>返回顶部</span></a>
		</div>

		<script src="__PUBLIC__/style/js/swiper.min.js"></script>
		<script>
			$(document).ready(function() {
				$('.top_nav').click(function() {
					if($(this).hasClass('top_menu')) {
						$(this).removeClass('top_menu')
						$(this).addClass('top_close')
						$('.menu_nav').show()
					} else {
						$(this).removeClass('top_close')
						$(this).addClass('top_menu')
						$('.menu_nav').hide()
					}
				})
			})
		</script>
	</body>

</html>