<!DOCTYPE html>
<html>

	<include file="Common:header" />

	<body>
		<!--头部-->
		<div class="head">
			<h3>北京盛达龙源不锈钢水箱有限公司</h3>
			<a class="top_nav top_menu"></a>
		</div>
		<include file="Common:menu" />
		
		<!--顶部栏-->
		<div class="top_bar">
			<a class="bar_l"></a>
			<h3>工程案例</h3>
		</div>
		
		<!--案列-->
		<div class="case content">
			<h3 class="case_tit">北京盛达龙源水箱有限公司2012年部分业绩表北京盛达龙源水箱有限公司2012年部分业绩表</h3>
			<div class="case_tab">
				<table>
					<thead><tr><th>序号</th><th>工程名称</th><th>产品名称</th><th>规格</th><th>数量（台）</th></tr></thead>
					<tbody><tr><td>1</td><td>钓鱼台国宾馆</td><td>不锈钢水箱</td><td>5*3*2=30M</td><td>3</td></tr>
						<tr><td>1</td><td>钓鱼台国宾馆</td><td>不锈钢水箱</td><td>5*3*2=30M</td><td>3</td></tr>
						<tr><td>1</td><td>钓鱼台国宾馆</td><td>不锈钢水箱</td><td>5*3*2=30M</td><td>3</td></tr>
						<tr><td>1</td><td>钓鱼台国宾馆</td><td>不锈钢水箱</td><td>5*3*2=30M</td><td>3</td></tr>
						<tr><td>1</td><td>钓鱼台国宾馆</td><td>不锈钢水箱</td><td>5*3*2=30M</td><td>3</td></tr>
						<tr><td>1</td><td>钓鱼台国宾馆</td><td>不锈钢水箱</td><td>5*3*2=30M</td><td>3</td></tr>
						
					</tbody>
				</table>
			</div>
		</div>


		<div class="index_bot">
			<a><img src="__PUBLIC__/style/images/icon-3.png"><span>在线QQ</span></a>
			<i class="line_throw"></i>
			<a><img src="__PUBLIC__/style/images/icon-4.png"><span>在线电话</span></a>
			<i class="line_throw"></i>
			<a class="scroll_top"><img src="__PUBLIC__/style/images/icon-5.png"><span>返回顶部</span></a>
		</div>

		<script src="__PUBLIC__/style/js/swiper.min.js"></script>
		<script>

			$(document).ready(function() {
				$('.top_nav').click(function() {
					if($(this).hasClass('top_menu')) {
						$(this).removeClass('top_menu')
						$(this).addClass('top_close')
						$('.menu_nav').show()
					} else {
						$(this).removeClass('top_close')
						$(this).addClass('top_menu')
						$('.menu_nav').hide()
					}
				})
				$('.scroll_top').click(function(){
					window.scrollTo(0,0);
				})
			})
		</script>
	</body>

</html>