<!DOCTYPE html>
<html>

	<include file="Common:header" />

	<body>
		<!--头部-->
		<div class="head">
			<h3>北京盛达龙源不锈钢水箱有限公司</h3>
			<a class="top_nav top_menu"></a>
		</div>
		<include file="Common:menu" />

		<!--顶部栏-->
		<div class="top_bar">
			<a class="bar_l"></a>
			<h3>联系我们</h3>
		</div>
		<div class="content about">

			<div class="info_con">
					<h3>北京盛达龙源不锈钢水箱有限公司</h3>
					<ul>
						<li>联系人：代经理</li>
						<li>手机：13641133307</li>
						<li>电话：010-89240469</li>
						<li>网址：www.bjsdly.com</li>
						<li>邮箱：bjsdly@126.com</li>
						<li>地址：北京市通州区永乐店经济开发区恒业八街6号院12栋</li>
					</ul>
				</div>
				<img class="about_adress" src="__PUBLIC__/style/images/about.jpg">
		</div>

		<div class="index_bot">
			<a><img src="__PUBLIC__/style/images/icon-3.png"><span>在线QQ</span></a>
			<i class="line_throw"></i>
			<a><img src="__PUBLIC__/style/images/icon-4.png"><span>在线电话</span></a>
			<i class="line_throw"></i>
			<a class="scroll_top"><img src="__PUBLIC__/style/images/icon-5.png"><span>返回顶部</span></a>
		</div>

		<script src="__PUBLIC__/style/js/swiper.min.js"></script>
		<script>
			$(document).ready(function() {
				$('.top_nav').click(function() {
					if($(this).hasClass('top_menu')) {
						$(this).removeClass('top_menu')
						$(this).addClass('top_close')
						$('.menu_nav').show()
					} else {
						$(this).removeClass('top_close')
						$(this).addClass('top_menu')
						$('.menu_nav').hide()
					}
				})
				$('.scroll_top').click(function(){
					window.scrollTo(0,0);
				})
			})
		</script>
	</body>

</html>