<!DOCTYPE html>
<html>

	<include file="Common:header" />

	<body>
		<!--头部-->
		<div class="head">
			<h3>北京盛达龙源不锈钢水箱有限公司</h3>
			<a class="top_nav top_menu"></a>
		</div>
		<include file="Common:menu" />
		
		<!--顶部栏-->
		<div class="top_bar">
			<a href="javascript:window.history.back(-1);" class="bar_l"></a>
			<h3>半产品展示</h3>
		</div>
		
		<div class="product content">
			<ul class="product_nav">
				<if condition="$flag eq 0">
					<li class="tab"><a href="{:U('index')}">全部</a></li>
					<else />
					<li><a href="{:U('index')}">全部</a></li>
				</if>
				<foreach name="category" item="vo" key="k">
					<if condition="$k eq $flag -1">
						<li class="tab"><a href="{:U('index?id='.$vo['type_id'])}">{$vo.type_name}</a></li>
					<else />
						<li><a href="{:U('index?id='.$vo['type_id'])}">{$vo.type_name}</a></li>
					</if>
				</foreach>
			</ul>
			<div class="product_list">
				<foreach name="product" item="vo" key="k">
					<if condition="($k eq 0)">
						<a class="now" href="{:U('detail?id='.$vo['id'])}">
							<img src="{$vo.picurl1}">
							<span>{$vo.product_name}</span>
						</a>
						<else />
						<a href="{:U('detail?id='.$vo['id'])}">
							<img src="{$vo.picurl1}">
							<span>{$vo.product_name}</span>
						</a>
					</if>
				</foreach>
			</div>
			<include file="Common:paginate" />
		</div>

		<include file="Common:footer" />

		<script src="__PUBLIC__/style//js/swiper.min.js"></script>
		<script>

			$(document).ready(function() {
				$('.top_nav').click(function() {
					if($(this).hasClass('top_menu')) {
						$(this).removeClass('top_menu')
						$(this).addClass('top_close')
						$('.menu_nav').show()
					} else {
						$(this).removeClass('top_close')
						$(this).addClass('top_menu')
						$('.menu_nav').hide()
					}
				})
				$('.scroll_top').click(function(){
					window.scrollTo(0,0);
				})
			})
		</script>
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?4ced54e4876ca5921cde012b4191166b";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</body>

</html>