<div class="menu_nav">
    <div class="menu_txt">
        <a href="{:U('Index/Index/index')}">网站首页</a>
        <a href="{:U('Index/Index/introduct')}">公司简介</a>
        <a href="{:U('Index/Product/index')}">产品展示</a>
        <a href="{:U('Index/Index/cases')}">工程案例</a>
        <a href="{:U('Index/Device/index')}">公司设备</a>
        <a href="{:U('Index/Half/index')}">半成品展示</a>
        <a href="{:U('Index/Index/order')}">在线订单</a>
        <a href="{:U('Index/Index/contact')}">联系我们</a>
    </div>
</div>